@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&family=Raleway:ital,wght@1,100&family=Ubuntu+Mono&display=swap');
*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu Mono', monospace;
    background-color: #0D1827;
    color: #B5E4F4;
}
#name{
    color: #08FF83;
}
#path{
    color: #FF0883;
}
#ls{
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
}
#link{
    color: #B5E4F4;
    text-decoration: none;
}
#cursor, #cursor2, #mcursor{
    font-weight: 700;
    animation: 1s blink step-end infinite;
}
@keyframes blink {
    0%{ 
        color: transparent;
    }
    50% { 
        color: #B5E4F4;
    }
}
footer{
    bottom: 1vw;
    position: absolute;
}
.wb-body{
    background-color: #162843;
}
.wb-title , .wb-min, .wb-max, .wb-full, .wb-close{
    color: #fff;
}
.contact{
    text-decoration: underline;
    color: #FF0883;
}
.contacts{
    padding-left: 1vw;
}